html {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    background: #333333;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 2rem;
    /* Add other styles as needed */
}

.header {
    width: 100%;
    padding: 32px;
    background: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.logo img {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 1000px;
}

nav ul {
    gap: 1rem;
    display: inline-flex;
    
}

nav ul li {
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    word-wrap: break-word;
    gap: 16px;
}

.projects {
    padding:  1rem 2rem;
    display: flex;
    gap: 16px; /* Adjust the gap between projects as needed */
}

.project {
    flex: 2 1 0; /* Apply flex: 2 1 0; property to .project class */
    padding: 24px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.project img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 12px;
}

.project .til

.projects .project img {
    align-self: stretch;
    height: 377px;
    border-radius: 12px;
}

.contact .contactInfo {
    flex: 2 1 0;
    padding: 24px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.profile img {
    width: 240px;
    height: 240px;
    border-radius: 1000px;
}
