* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open-Sans", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container { 
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    
}

.card {
    border: 1px solid #333;
    background-color: whitesmoke;
    padding: 16px;
    width: 100%;
    margin: 0 16px;
}
.card > span {
    padding: 16px 0;
}
.button-container {
    margin: 16px;
    display: flex; /* Change from grid to flex for horizontal alignment */
    gap: 8px; /* Add some gap between buttons */
    border-bottom: 48px solid rgba(0,0,0,0.1);
}

.settings-button {
    display: flex; /* Keep settings-button as flex to align items */
    align-items: center;
    padding: 8px 12px 8px 16px;
}


.settings-button .material-icons {
    font-size: 16px;
    margin-right: 4px; /* Adjust spacing between icon and text */
}


.content {
    
    position: absolute;
    background-color: cadetblue;
    display: none;
    z-index: 1;
    padding: 16px;
    
}
.button-container:hover ~ .content {
    display: block;
}

