* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
  }
  
  h3 {
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  #left-menu {
    z-index: 10;
    position: fixed;
    width: 5.5rem;
    min-height: 100vh;
    background-color: white;
    
  }
  #black-square {
    width: 4rem;
    height: 4rem;
    background-color: #333;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  
  #big-container {
    z-index: 10;
    position: relative;
    padding: 1.5rem;
    background-color: rgb(0, 128, 255);
    width: calc(100% - 5.5rem);
    height: fit-content;
    top:4rem;
    left: 5.5rem;
    right: 0px;
    bottom: 0px;
    
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  #cards {
    
    display: grid;    
    gap: 1rem; /* Gap between grid items */
  }
  .card {
    padding: 0px;
    background-color: rgb(229, 229, 229);
    border-radius: 1rem;
    height: fit-content;
    
  }
  .card img {
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .card-content {
    padding: 1rem;
  }

  #top-menu {
    right: 0;
    top:0;
    z-index: 100;
    position: fixed;
    height: 4rem;
    width: calc(100% - 5.5rem);
    background-color: white;
    
  }
  #top-menu ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
  
  }
  #top-menu ul li {
    font-size: 1rem;
    text-decoration: none;
  }
  
  #top-menu ul li a{
    text-decoration: none;
  }
  
  
  #content {
    background-color: white;
    color: #333;
    margin: 24px;
    padding:16px;
    border: 1px solid #333;
    border-radius: 16px;
    
  }
  #content-list {
    color: #333;
    margin: 24px;
    padding:16px;
    
  }
  
  label {
    display: block;
    margin-bottom: 8px;
      }
  
   input {
   width: 100%;
   padding: 8px;
   border-radius: 8px;
   border: 0.125 rem solid #bababa;
   }
  
  button {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border: none;
    background-color: #00B140;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  button:hover {
    background-color: #33C166;
    cursor: pointer;
  }
 
  
  
  /* Media query for screens smaller than 480px */
  @media (max-width: 519px) {
    * {
      font-size:12px;
    }
   
    #cards {
      
      display: grid;
      grid-template-columns: 1fr; /* Two columns in each row */
    }  
   
  }

  @media (min-width: 520px) and (max-width: 1023px) {
    * {
      font-size:14px;
    }
   
    #cards {
      display: grid;
      grid-template-columns: repeat(2,1fr); /* Two columns in each row */
    }   

    #cards > div:nth-child(3n) {
      grid-column: span 2; /* Make the first element in every row span all three columns */
    }
    #cards > div:nth-child(3n) img {
      object-fit: cover; 
      width: 100%;
      height: 16rem; /* Set styles for the image in every 4th div */
    }

  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    * {
      font-size:16px;
    }
    
    #cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem; /* Gap between grid items */
    }
    
    #cards > div:nth-child(4n) {
      grid-column: span 3; /* Make the first element in every row span all three columns */
    }
    #cards > div:nth-child(4n) img {
      object-fit: cover; 
      width: 100%;
      height: 20rem; /* Set styles for the image in every 4th div */
    }
  }

  @media (min-width: 1440px) {
    * {
      font-size:18px;
    }
    
    #cards {
      display: grid;
      grid-template-columns: repeat(4,1fr); /* Two columns in each row */
    }  

    #cards > div:nth-child(5n) {
      grid-column: span 4; /* Make the first element in every row span all three columns */
    }
    #cards > div:nth-child(5n) img {
      object-fit: cover; 
      width: 100%;
      height: 20rem; /* Set styles for the image in every 4th div */
    }
  }