html {
    background-color: #333333;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li {
    display: inline-block;
    text-decoration: none;

}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100vw; /* Set your desired maximum width */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container h1 {
    position: absolute;
    top: 50%; /* Position the heading 50% from the top of the container */
    left: 50%; /* Position the heading 50% from the left of the container */
    transform: translate(-50%, -50%); /* Center the heading */
    color: white; /* Set the text color to white */
    text-align: center; /* Center-align the text */
    margin: 0; /* Remove default margin */
    font-size: 36px; /* Set the font size as per your preference */
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* 15% opacity black overlay */
}

